<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    />
    <link rel="stylesheet" href="/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Sahitya:wght@400;700&display=swap"
      rel="stylesheet"
    />
  <style>
    
    .switch{
      position: relative;
      display: inline-block;
      width: 45px;
      height: 25px;
      margin:-20px 10px ;
      top: -15px;
      
    }

    .switch input {display:none}
    .slider:before{
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      left:2px;
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50px;
    }
    input:checked+.slider{
      background-color: blue;
    }
    input:checked+.slider::before{
      transform: translateX(20px);
    }

    .slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color:#9facf3;
      transition: .4s;
      border-radius: 34px;
    }
    
  </style>
  </head>
  <body>
    <div class="form-container">
      <h2>Login</h2>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter name"
            required
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="n">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            required
          />
        </div>
        <button type="submit" class="submit-btn">Login</button>
      </form>
      <p>Don't have account? <a href="/signup">Sign Up</a><br /><br /><br /></p>
      
    </form>
    <b>Seller</b>
      <label class="switch">
      <input type="checkbox">
          <span class="slider"></span>
      </label>
      
      <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon fab fa-instagram"></a>
          <a href="#" class="social-login__icon fab fa-facebook"></a>
          <a href="#" class="social-login__icon fab fa-twitter"></a>
        </div>
      </div>
    </div>
  </body>
</html>
