body{
    background-color:rgb(228, 190, 144);
}
header {
    background-color: rgb(250, 191, 120);
    padding: 20px;
    text-align: center;
}

input, select, button {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    input, select, button {
        width: calc(100% - 10px);
    }
}

       
